@font-face {
  font-family: SFProText;
  src: url("fonts/FontsFree-Net-SFProText-Regular.ttf") format("opentype");
}

@font-face {
  font-family: 'SFProDisplay';
  src: url("fonts/SFProDisplay-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 320px) {
  body {
    margin: 0;
  }

  .wrapper {
    padding: 26px 11px;

    background-image: url("img/background/4@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .link {
    text-decoration: none;
  }

  .icon {
  }

  #restore {
    font-family: SFProText, sans-serif;
    font-size: 13px;
    line-height: 41px;
    color: rgba(255, 255, 255, 0.6);
  }

  #title {
    font-family: 'SFProDisplay', sans-serif;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    margin: 13px 0 10px;

    color: #FFFFFF;

    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  .list-content {
    padding: 0;
    width: fit-content;
    margin: auto;
    list-style: none;
    text-align: left;
  }

  .list-items {
    display: flex;
    align-items: center;
  }

  .icon {
    margin: 0 10px 0 0;
  }

  .list-content-text {
    font-family: SFProText, sans-serif;
    font-size: 14px;
    line-height: 30px;

    letter-spacing: -0.321111px;

    color: #FFFFFF;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.684495);
  }

  .offers-wrap {
    text-align: center;
  }

  .offers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
  }

  .offer-period {
    width: 45%;
    background: none;
    border: none;
  }

  .offer-check-period {
    width: 40%;
    mix-blend-mode: normal;
    opacity: 0.25;
  }

  .offer-month {
    background-image: url("img/shape/shape-1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  .offer-year {
    position: relative;
    background-image: url("img/shape/combined-shape.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  .period {
    margin: 0;
    padding: 10px 0 0;
    font-family: 'SFProDisplay', sans-serif;
    font-size: 17px;
    line-height: 22px;

    text-align: center;

    color: #FFFFFF;
  }

  .check-period {
    font-size: 16px;
    padding: 15px 0 0;
  }


  .sale {
    position: absolute;
    display: flex;
    top: -1px;
    right: 6px;
  }

  .check-sale {
    right: 0;
    top: 0;
  }

  .img-sale {
    position: absolute;
    width: 99%;
    z-index: 1;
  }

  .check-img-sale {
    width: 84%;
  }

  .sale-text {
    z-index: 2;
    font-family: 'SFProDisplay', sans-serif;
    font-size: 10px;
    margin: 9px 3px;

    color: #FFFFFF;
  }

  .check-sale-text {
    font-size: 8px;
    margin: 9px 8px 0 3px;
  }

  .offer-total-price {
    font-family: 'SFProDisplay', sans-serif;
    font-size: 13px;
    line-height: 15px;

    color: #FFFFFF;
  }

  .check-offer-total-price {
    margin: 5px 0;
  }

  .offer-total-price strong {
    font-family: 'SFProDisplay', sans-serif;
    font-size: 19px;
  }

  .alert-text {
    font-family: 'SFProDisplay', sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;

    background: #495795;
    padding: 2px 0;
    margin: 11px -3px;

    text-align: center;

    color: #FFFFFF;
  }

  .check-alert-text {
    font-size: 10px;
    margin: 5px -3px;
  }

  .monthly-price {
    margin: 0;
    padding: 0 0 10px;
    font-family: 'SFProDisplay', sans-serif;
    font-size: 13px;
    line-height: 15px;

    text-align: center;

    color: #FFFFFF;
  }

  .check-monthly-price {
    font-size: 11px;
  }

  #continue {
    font-family: 'SFProDisplay', sans-serif;
    font-size: 17px;
    line-height: 17px;
    padding: 19px 100px;

    text-align: center;

    border: none;
    color: #FFFFFF;
    background: linear-gradient(270deg, #1987FF 0%, #19CCFF 100%);
    border-radius: 30px;
  }

  .addition-info {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
  }

  #cancel-subscription {
    margin: 11px 0 16px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
  }

  .policy-wrap {
    display: flex;
    justify-content: space-between;
  }

  .policy {
    text-decoration-line: underline;
    color: #BDC0D0;
  }
}

@media (min-width: 375px) {
  .wrapper {
    padding: 47px 11px 26px;
  }

  main {
    margin: 144px 0 0 0;
  }

  #title {
    font-size: 36px;
  }

  .list-content {
    margin: 29px auto;
  }

  .list-content-text {
    font-size: 17px;
  }

  .offers {
    margin: 29px 0 16px;
  }

  .offer-period {
    display: grid;
  }

  .period {
    font-size: 18px;
    padding: 24px 0 10px;
  }

  .offer-total-price {
    font-size: 15px;
  }

  .offer-total-price strong {
    font-size: 24px;
  }

  .alert-text {
    font-size: 15px;
    margin: 11px -8px;
  }

  .sale {
    right: 0;
  }

  .check-sale {
    right: -5px;
  }

  .img-sale {
    width: 97%;
  }

  .check-img-sale {
    width: 83%;
  }

  .sale-text {
    margin: 12px 5px;
    font-size: 12px;
    font-weight: 600;
  }

  #cancel-subscription {
    margin: 11px 0 23px;
  }
}

@media (min-width: 414px) {
  .wrapper {
    background-image: url("img/background/4@3x.png");
  }

  main {
    margin: 41px 0 0;
  }

  .alert-text {
    margin: 18px -8px;
  }

  .monthly-price {
    margin: 0 0 13px;
  }

  .sale {
    top: 1px;
    right: -2px;
  }

  .check-sale {
    top: 2px;
    right: 0;
  }

  .img-sale {
    width: 95%;
  }

  .check-img-sale {
    width: 87%;
    right: 0;
  }

  .sale-text {
    margin: 13px 8px;
  }

  .check-sale-text {
    margin: 13px 7px;
  }
}

@media (min-width: 390px) {
  .wrapper {
    height: 91.4vh;
  }

  .sale {
    right: 2px;
  }

  /*.check-sale {*/
  /*  right: -2px;*/
  /*}*/

  .img-sale {
    width: 98%;
  }

  .check-img-sale {
    width: 86%;
    right: 2px;
  }
}